<template>
  <ul>
    <li v-for="prediction in predictions">{{prediction}}</li>
  </ul>
</template>

<script lang="ts">
import Vue from "vue";
import { IPredictionsName } from "@/business/Predictions";
export default Vue.extend({
  inject: {
    predictions: IPredictionsName
  }
});
</script>
