<template>
  <div>
    <p>{{message}}</p>
    <button v-on:click="onRequestNewPrediction">Get Prediction</button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
export default Vue.extend({
  props: {
    message: String,
    onRequestNewPrediction: Function
  }
});
</script>
