<template>
  <div>
    <MagicEightViewModel v-bind:predictionService="predictionService"/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import MagicEightViewModel from "./MagicEightViewModel.vue";
import IPredictionService, {
  IPredictionServiceName
} from "@/business/PredictionService";

export default Vue.extend({
  components: {
    MagicEightViewModel
  },
  inject: {
    predictionService: {
      from: IPredictionServiceName
    }
  }
});
</script>