<template>
  <div>
    <MagicEightView
      v-bind:message="currentMessage"
      v-bind:onRequestNewPrediction="updatePrediction"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import IPredictionService from "@/business/PredictionService";
import MagicEightView from "./MagicEightView.vue";

export default Vue.extend({
  components: {
    MagicEightView
  },
  props: {
    predictionService: Object as () => IPredictionService
  },
  data: () => {
    return {
      currentMessage: "No prediction yet"
    };
  },
  methods: {
    updatePrediction: function() {
      this.currentMessage = this.predictionService.getPrediction();
    }
  }
});
</script>