<template>
  <div id="app">
    <img class="logo" alt="Vue logo" src="./assets/magic_eight.png">
    <MagicEight/>
    <h2>You might get any of the following predictions:</h2>
    <Predictions/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "./components/HelloWorld.vue";
import MagicEight from "./components/magicEight";
import container from "@/dependencies/container";
import Predictions from "./components/predictions";

export default Vue.extend({
  components: {
    HelloWorld,
    MagicEight,
    Predictions
  },
  provide() {
    return container;
  }
});
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.logo {
  width: 300px;
}
</style>
